/* The CSS used for the prices page */
.price-container {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    max-width: 500px;
}

.price-container h1 {
    margin: auto;
    text-align: center;
    font-size: 2em;
}

.item {
    text-align: center;
    font-size: 20px;
}

.item-price {
    margin-left: 50px;
}